html,
/* General */
#navigation /* The Navbar */{
  width: 98.95vw;
  background-color: #cad6a1;
  vertical-align: middle;
  position: relative;
  height: 170px;
}
#navitem /* Navbar items */{
    margin: 0 2vw;
    font-family: 'Merriweather', serif;
    line-height: 100px;
}
#navflavor /* Navbar Organization */{
    margin: 0;
    padding: 0;
    display: flex;
    color: #9abe9c;
    list-style: none;
    font-weight: bold;
    text-align: center;
  } 


  /* Homepage */
  body /* Main Page Colors and Text */{
    margin: 0;
    padding: 0;
    background: #f9efd3;
    font-family: 'Merriweather', serif;
  }
  #bannertext /* Opening Text for Beginning of Page*/{
    text-align: center;
    color: #412958;
  }
#bannerimghome /*Display image - Homepage*/ {
  width: 100%;
  height: 450px;
}
#collage .column /* Photo collage first page*/{
  flex: 50%;
  padding: 0 4px;
  align-content: center;
  justify-items: center;
}
#center-collage /*Centering div for collage*/{
  display:flex; 
  align-items: center; 
  justify-content: center; 

}
#collage .column img /* Photo collage first page images*/{
  margin-top: 8px;
  vertical-align: middle;
  height: 200px;
  width: 200px;
}


/* Art */

